server: localhost
nick: guest
user: bot
realname: bot
password: password
port: 1919

plugins: [Images, Wolfram, GoogleSearch, Youtube, ForecastIO]

wolfram_url: http://api.wolframalpha.com/v1/query?input=
wolfram_appid:

google_developer_key:
google_application_name:
google_application_version:

forecast_io_url: https://api.forecast.io/forecast/
forecast_io_api_key:

http_server_host: localhost
http_server_port:
